* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: rgb(149, 194, 239);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  text-align: center;
  font-size: 45px;
  color: rgb(24, 24, 25);
  margin-bottom: 20px;
  margin-top: 40px;
}

/* DISPLAY or SCREEN style */

.container {
  height: 650px;
  width: 400px;
  border: 1.2px solid black;
  border-radius: 20px;
  background-color: rgb(102, 163, 224);
}

#display {
  height: 165px;
  width: 100%;
  background-color: rgb(228, 234, 240);
  font-size: 40px;
  border-radius: 20px;
}
/* all clear and clear style */

.arrow {
  height: 100px;
  width: 100%;
  display: flex;
  background-color: rgb(102, 163, 224);
  margin-bottom: 4px;
  border-bottom: 1.5px solid black;
}
/* ALL clear style */

#allclear {
  height: 70px;
  width: 170px;
  margin-left: 30px;
  margin-top: 18px;
  font-size: 34px;
  border-radius: 50px;
  border: 1px solid black;
}
#allclear:hover {
  color: white;
  background-color: rgb(181, 199, 206);
}
/* CLEAR style */
#clear {
  height: 70px;
  width: 120px;
  margin-left: 45px;
  margin-top: 18px;
  font-size: 34px;
  border-radius: 50px;
  border: 1px solid black;
}
#clear:hover {
  color: white;
  background-color: rgb(181, 199, 206);
}

/* Numbers and the operations style */

.calculas {
  height: 400px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btns {
  height: 80px;
  width: 80px;
  margin: 4px 4px 4px 6px;
  border-radius: 50%;
  border: 1.2px solid black;
  font-size: 20px;
}
.btns:hover {
  color: white;
  background-color: rgb(181, 199, 206);
}
#btn {
  height: 70px;
  width: 120px;
  margin-left: 45px;
  margin-top: 18px;
  font-size: 34px;
  border-radius: 50px;
  border: 1px solid black;
  visibility: hidden;
}
#btn:hover {
  color: white;
  background-color: rgb(181, 199, 206);
}
