* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(233, 236, 239);
}

/* Heading style */

#heading {
    font-size: 39px;
    color: rgb(67, 66, 66);
    font-family: monospace;
    margin-bottom: 20px;
    margin-left: 44%;
    margin-top: 40px ;
}

.calculator {
    display: felx;
    justify-content: center;
    align-items: center;
    height: 700px;
}

/* DISPLAY or SCREEN style */

.container {
    height: 650px;
    width: 400px;
    margin-top: 12px;
    margin-left: 38%;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(33, 37, 41);
}

#display{
    height: 150px;
    width: 100%;
    background-color: rgb(206, 212, 218);
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 40px;
}
/* all clear and clear style */

.arrow {
    height: 100px;
    width: 100%;
    display: flex;
    background-color: rgb(73, 80, 87);
    margin-top: 3px;
    margin-bottom: 4px;
}
/* ALL clear style */

#allclear{
    height:70px;
    width: 170px;
    margin-left: 30px;
    margin-top: 18px;
    font-size: 34px;
    border-radius: 8px;
    border: none;
    font-family: Times New Roman;
}
/* CLEAR style */
#clear {
    height: 70px;
    width: 120px;
    margin-left: 45px;
    margin-top: 18px;
    font-size: 34px;
    border-radius: 8px;
    border: none;
    font-family: Times New Roman;

}

/* Numbers and the operations style */

.calculas {
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btns {
    height: 80px;
    width: 80px;
    margin: 4px 4px 4px 6px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
}

/* on button style */

.on-btn {
    margin-bottom: 60px;
    margin-left: 45%;
    margin-top: 40px ;
}

#btn {
    height: 60px;
    width: 150px;
    border-radius: 4px;
    border: 1.5px soild black;
    font-size: 39px;
    color: rgb(12, 0, 0);
    font-family: monospace;
}